body {
  margin: 0px;
  bottom: 0px;
}
.nav {
  padding-left: 20px;
  padding-right: 20px;
}
.nav-tags {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 75vw;
}
.Anchor {
  text-decoration: none;
  color: black;
}
.btn {
  color: #2f80ed !important;
  font-family: ABeeZee;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  outline: auto;
}
.btn:hover {
  background-color: white !important;
}
.Announcement {
  color: #fff;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.28px;
  background-color: #2f80ed;
  text-align: center;
}
.text,
.features {
  position: relative;
  top: 130px;
  left: 80px;
}
h2 {
  color: #2b2f34;
  font-size: 50px;
  font-style: italic;
  font-weight: 800;
  line-height: 65px;
  letter-spacing: -0.75px;
}
.hero {
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  width: 1440px;
  height: 533px;
  flex-shrink: 0;
  background: #fff;
}
.hero-part {
  display: flex;
  flex: 2;
}
.hero-text {
  color: #2f80ed;
  font-style: italic;
  font-weight: 500;
  line-height: 130%; /* 65px */
  letter-spacing: -0.75px;
}
.text-1 {
  color: #2b2f34;
  font-weight: bold;
}
.p-tag {
  color: #595959;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 23.4px */
  letter-spacing: 0.36px;
  margin-top: 20px;
  padding-bottom: 20px;
}
.p {
  position: relative;
  top: 450px;
  right: 600px;
}
.p-tag-1 {
  font-size: 12px;
}

.feature {
  display: flex;
  width: 134px;
  height: 17px;
  align-items: center;
  justify-content: ;
  gap: 10.214px;
  flex-shrink: 0;
}
.features {
  display: flex;
  width: 700px;
  height: 67px;
  padding: 15px 20px;
  align-items: flex-end;
  gap: 34px;
  border-radius: 8px;
  border: 1px solid #e2e2e2;
  background: #fff;
  box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.08);
}
.feature > img {
  background-color: #ffe1df;
  height: 20px;
  width: 20px;
  border-radius: 13px;
}

.form {
  display: flex;
  padding: 28px 24px 32px 24px;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  border-radius: 18px;
  background: #fff;
  box-shadow: 0px 25px 54px 0px rgba(0, 0, 0, 0.12);
}

.form > h2 {
  width: 291px;
  color: #2b2f34;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.48px;
}

.form > p {
  width: 299px;
  color: #818d9d;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin-top: -30px;
}

.input-data {
  margin-top: -20px;
  display: flex;
  width: 366px;
  padding: 14px 6px 14px 10px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #fafafa;
}

.input-data > input {
  border: none;
  background-color: transparent;
}

.input-data > input:focus {
  outline: none;
}

.form > button {
  display: flex;
  width: 367px;
  padding: 14px 6px 14px 16px;
  justify-content: center;
  align-items: center;
  gap: 2px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(277deg, #992fed 0%, #2f80ed 100%);
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.form > button:hover {
  scale: 1.1;
}

.form > p:last-child {
  margin-top: 3px;
  color: #818d9d;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.form > p:last-child > span {
  color: #2f80ed;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}
.course-section{
    height: 900px;
    width: 1440px;
    background: #ECF8FF;
    display: flex;
    padding: 80px 0px 78px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 15px;
}
.beginner-card,.Intermediate-card{
  width: 498px;
  height: 570px;
  border-radius: 9px;
  border: 2px solid var(--primaryskyblue, #2f80ed);
  background: #fff;
  margin-left: 100px;
}
.pros {
  display: flex;
  align-items: center;
  gap: 18px;
  padding-left: 100px;
}
.text-center-1{
  text-align: center;
  color: #2F80ED;
}
.p-tag-2 {
  border-radius: 7px;
  background: #e0f3ff;
  color: #1d78b0;
}
.p-tag-3{
    border-radius: 7px;
  background: #FFEED8;
  color: #965400;
}
.fill {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding-right: 30px;
  padding-left: 30px;
}
.download {
  width: 203px;
  padding: 14px 6px;
  gap: 10px;
  border-radius: 10px;
  color: #1d78b0;
  border-color: #1d78b0;
}
.btn-3{
    padding: 35px;
}
.learn-more {
  width: 210px;
  padding: 14px 6px 14px 16px;
  gap: 2px;
  border-radius: 10px;
  background-color: #2f80ed;
  color:#e0f3ff;
}
.V-line{
    display: block;
  margin-left: auto;
  margin-right: auto;
 
}
.fill>p{
    color:#2B2F34;
    font-weight: 600;
   padding: 5px;
}

.A-1{
    color: white;
    background: var(--New, linear-gradient(277deg, #992FED 0%, #2F80ED 100%));
}
.A-3{
    color:#2F80ED
}

.Companies{
  display: flex;
  justify-content: space-evenly;
  height: 30px;
}
.p-2{
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #2F80ED;
    color:#e0f3ff;
    height: 45px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    border: none;
    width: 300px;
}
.d-1{
    font-style: italic;
}
@media screen and (max-width:1200px){
  .hero
  {
      padding: 10px;
      height: 1200px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
     
  }
  .features > img
  {
      display: none;
  }
  .Hero-part >text
  {
      width: 350px;
     margin-top: 40px;
  }
  .features
  {
      width: 100%;
      height: 500px;
  }
  .feature
  {
      margin-top: 10px;
  }
}
@media screen and (max-width:1000px)
{
  nav{
      position: static;
      display: flex;
      flex-direction: column;
  }
  .navbar
  {
      position: static;
  }
  .nav-tags{
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
  }
  .course-section
  {
      height: 1400px;
      padding: 10px;
      display: flex;
      flex-direction: column;
  }
  .beginner-card
  {
      height: 1250px;
      display: flex;
      flex-direction: column;
  }
.beginner-card> img
  {
      width: 120px;
      height: 50px;
      display: flex;
      flex-direction: column;
  }
  .section.img{
    height: 1250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

